/*
Copyright 2013, Michael Pacchioli.

This file is part of manytopics/international (MT/I).

MT/I is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License, version 3,
as published by the Free Software Foundation.

MT/I is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MT/I.  If not, see <http://www.gnu.org/licenses/>.
*/


.container {
	max-width: 800px;
}

#map {
	height: 500px;
	border: 2px solid black
}

